/*CAMILLE*/
.danmissionlogo img {
    max-height: 100px;

}

nav {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
     text-align: end;
    margin-left: 20px;
    padding-top: 50px; 
    }
    


header:not(:last-child)::after {
    content: "|";
    color: #32a844;
    margin-left: 1px;
    font-size: 30px;
    size: 30px;

}

.menu {
    background-color: white; 
    list-style-type: none; 
    padding: 35px;
    margin: 0;
    display: flex; 
    align-items: center; 
}
.menu li:hover{
    color: #b3c6c9;


}
.menu li {
    display: inline; 
    margin-right: 20px; 
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    text-decoration: none; 
    color: #32a844; 
    font-size: 20px;

}



.menu li img {
    max-height: 20px; 
    margin-left: 10px; 
    margin-right: 0;
    color: #32a844;
}

.btn {
    background-color: #bf1f27;
    color: #fff;
    font-size: 25px; 
    padding: 8px 17px; 
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    

  }
  
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bf1f27;
    color: #fff;
    text-align: center;
    position: sticky;
     border-radius: 0; 
    width: 300px;
    height: 300px; 
    text-align: center; 
    padding: 15px;
    margin-left: -200px;
    z-index: 1;
  }

  .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}




@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



.btn:hover {
    background-color: #32a844; 
}



.menu li a:hover {
    color: #b3c6c9;
}



.burger-menu {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.burger-menu .bar {
    background-color: #32a844; 
    background-color:#32a844 ;
    height: 4px;
    width: 30px;
    margin: 3px;
    transition: background-color 0.3s;
}


.burger-menu:hover .bar {
    background-color: #bf1f27; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}


.parallax {
    background-image: url('../Images/background-pic.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff; 
    padding: 50px;
}


header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.parallax {
    background-image: url('../Images/background-pic.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.parallax-content {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif
}

.button-container {
    display: center;
    flex-direction: row;
    align-items: center;
}

.button1 {
    background-color:#bf1f27;
    border: 2px solid #bf1f27;
    color: #fff;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    display: inline-block;
}

.button1:hover {
    background-color:#32a844;
    color: #fff;
    border:#32a844;
}

.button2 {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    display: inline-block;
}

.button2:hover {
    background-color: transparent;
    color: #fff;
    border-color: #32a844;

}




/*CECILIE*/

.vor-arb {
    background: #e8f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vor-arb h2, .vor-arb h3, .vor-arb p {
    font-family: sans-serif;
    color: #2d3748;
}

.vor-arb h2 {
    font-size: 60px;
}

.vor-arb p {
    font-size: 20px;
}


/*Jordklode grafisk element*/
#world {
    background: url(../Images/p4-world-dry.png);
    width: 200px;
    height: 200px;
}

#world:hover {
    background: url(../Images/p4-world.png);
}







/*NANA*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
