.danmissionlogo img {
    max-height: 100px;

}

nav {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
     text-align: end;
    margin-left: 20px;
    padding-top: 50px; 
    }
    


header:not(:last-child)::after {
    content: "|";
    color: #32a844;
    margin-left: 1px;
    font-size: 30px;
    size: 30px;

}

.menu {
    background-color: white; 
    list-style-type: none; 
    padding: 35px;
    margin: 0;
    display: flex; 
    align-items: center; 
}
.menu li:hover{
    color: #b3c6c9;


}
.menu li {
    display: inline; 
    margin-right: 20px; 
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    text-decoration: none; 
    color: #32a844; 
    font-size: 20px;

}



.menu li img {
    max-height: 20px; 
    margin-left: 10px; 
    margin-right: 0;
    color: #32a844;
}

.menu li button {
    background-color: #bf1f27;
    color: #fff;
    font-size: 25px; 
    padding: 8px 17px; 
    font-weight: 600;
     border: none;
    cursor: pointer;
}


.menu li button:hover {
    background-color: #32a844; 
}



.menu li a:hover {
    color: #b3c6c9;
}



.burger-menu {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.burger-menu .bar {
    background-color: #32a844; 
    background-color:#32a844 ;
    height: 4px;
    width: 30px;
    margin: 3px;
    transition: background-color 0.3s;
}


.burger-menu:hover .bar {
    background-color: #bf1f27; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}


.parallax {
    background-image: url('../Images/background-pic.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff; 
    padding: 50px;
}


header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.parallax {
    background-image: url('../Images/background-pic.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.parallax-content {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif
}

.button-container {
    display: center;
    flex-direction: row;
    align-items: center;
}

.button1 {
    background-color:#bf1f27;
    border: 2px solid #bf1f27;
    color: #fff;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    display: inline-block;
}

.button1:hover {
    background-color:#32a844;
    color: #fff;
    border:#32a844;
}

.button2 {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    display: inline-block;
}

.button2:hover {
    background-color: transparent;
    color: #fff;
    border-color: #32a844;

}









