.danmissionlogo {
width: 250px;
max-height: fit-content;

}

header {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.logo img {
    max-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

header:not(:last-child)::after {
    content: "|";
    color: #32a844;
    margin-left: 1px;
    font-size: 50px;

}

nav {
    margin-left: 20px;
}

nav {
    text-align: end;
}
.menu {
    background-color: white; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.menu li:hover{
    color: #b3c6c9;


}
.menu li {
    display: inline; 
    margin-right: 20px; 
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    text-decoration: none; 
    color: #32a844; 
    font-size: 16px;

}


.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center; 
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li img {
    max-height: 20px; 
    margin-left: 10px; 
    margin-right: 0;
    color: #32a844;
}

.menu li button {
    background-color: #bf1f27;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.menu li button {
    font-size: 25px; 
    padding: 8px 17px; 
    font-weight: 600;
}

.menu li button:hover {
    background-color: #32a844; 
}

.menu {
    list-style-type: none;
    padding: 20;
    margin: 20;
    margin-top: 20;
}


.menu li {
    display: inline;
    margin-right: 20px;
}



.menu li a {
    text-decoration: none;
    color: #32a844;
    font-size: 25px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #b3c6c9;
}



.burger-menu {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.burger-menu .bar {
    background-color: #32a844; 
    background-color:#32a844 ;
    height: 4px;
    width: 30px;
    margin: 3px;
    transition: background-color 0.3s;
}


.burger-menu:hover .bar {
    background-color: #bf1f27; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}





body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.parallax {
    background-image: url('background-pic.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff; 
    padding: 50px;
}


header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.parallax {
    background-image: url('background-pic.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}











